* {
  border-color: #333 !important;
}
html,
body {
  background: #121212 !important;
  color: #e0e0e0 !important;
}
#app {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}
#app > .l-container,
#app > header,
#app > .playControls > section,
#app > .playControls > section > .playControls__wrapper > .playControls__bg {
  background: #1a1a1a !important;
}
#app > header {
  border-bottom: solid 1px #333 !important;
}
#app > .playControls > section,
#app > .playControls > section > .playControls__wrapper > .playControls__bg {
  border-top-color: #333 !important;
}

.header__logo {
  background: #1a1a1a !important;
}
.headerSearch__input {
  background: #2a2a2a !important;
  color: #e0e0e0 !important;
  border: solid #555 1px !important;
}
.playControls__elements > .playControls__play {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_play_arrow_white_24dp.png") !important;
}
.playControls__elements > .playing {
  /* Pause Icon */
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_pause_white_24dp.png") !important;
}
.playControls__elements > .skipControl__previous {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_skip_previous_white_24dp.png") !important;
}
.playControls__elements > .skipControl__next {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_skip_next_white_24dp.png") !important;
}
.playControls__elements .playControls__shuffle .shuffleControl::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_shuffle_white_24dp.png") !important;
}
.playControls__elements .playControls__shuffle .shuffleControl::after {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_shuffle_orange_24dp.png") !important;
}
.playControls__elements .playControls__repeat .repeatControl.m-none {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_repeat_white_24dp.png") !important;
}
.playControls__elements .playControls__repeat .repeatControl::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_repeat_orange_24dp.png") !important;
}
.playControls__elements .playControls__repeat .repeatControl::after {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_repeat_orange_loop_24dp.png") !important;
  background-size: contain;
}
.playControls__elements .playbackTimeline * {
  color: #e0e0e0 !important;
}
.volume[data-level="0"] .volume__button {
  background: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_volume_off_white_24dp.png")
    no-repeat 0 !important;
}
.volume[data-level="1"] .volume__button,
.volume[data-level="2"] .volume__button,
.volume[data-level="3"] .volume__button,
.volume[data-level="4"] .volume__button,
.volume[data-level="5"] .volume__button {
  background: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_volume_down_white_24dp.png")
    no-repeat 0 !important;
}
.volume[data-level="6"] .volume__button,
.volume[data-level="7"] .volume__button,
.volume[data-level="8"] .volume__button,
.volume[data-level="9"] .volume__button,
.volume[data-level="10"] .volume__button {
  background: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_volume_up_white_24dp.png")
    no-repeat 0 !important;
}

.playbackSoundBadge
  .playbackSoundBadge__titleContextContainer
  .playbackSoundBadge__lightLink:hover {
  color: #fff !important;
}
.playbackSoundBadge
  .playbackSoundBadge__titleContextContainer
  .playbackSoundBadge__titleLink {
  color: #b3b3b3 !important;
}
.playbackSoundBadge
  .playbackSoundBadge__titleContextContainer
  .playbackSoundBadge__titleLink:hover {
  color: #fff !important;
}
.sc-link-dark {
  color: #e0e0e0 !important;
}
.sc-truncate {
  color: #b3b3b3;
}
.tileGallery__sliderButton {
  background: #2a2a2a !important;
  border-color: #555 !important;
}
.tileGallery__sliderButton::after {
  border-color: #e0e0e0 !important;
}
.g-tabs-link {
  color: #e0e0e0 !important;
}
.g-tabs-link.active {
  color: #f50 !important;
}
.sc-input {
  border-color: #555 !important;
  background-color: #2a2a2a !important;
  color: #e0e0e0 !important;
}
.sc-button {
  border-color: #555 !important;
  background-color: #2a2a2a !important;
  color: #e0e0e0 !important;
}
.userBadge__actions .sc-button-follow::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_person_add_alt_white_24dp.png") !important;
}
.userBadge__actions .sc-button-selected::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_how_to_reg_white_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__like::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_favorite_white_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__like[title="Unlike"]::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_favorite_orange_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__follow::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_person_add_alt_white_24dp.png") !important;
}
.playbackSoundBadge__actions
  .playbackSoundBadge__follow[title="Unfollow"]::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_how_to_reg_orange_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__showQueue svg {
  display: none;
}
.playbackSoundBadge__actions .playbackSoundBadge__showQueue {
  border-color: #555 !important;
  background-color: #2a2a2a !important;
  color: #e0e0e0 !important;
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_playlist_play_white_24dp.png") !important;
}
.playControls__queue .queue,
.playControls__queue .queue__scrollableInner,
.playControls__queue .queue__itemWrapper,
.playControls__queue .queueItemView {
  background: #2a2a2a !important;
}

.sc-button-group .sc-button-like::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_favorite_white_24dp.png") !important;
}
.sc-button-group .sc-button-like[title="Unlike"]::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_favorite_orange_24dp.png") !important;
}
.sc-button-group .sc-button-more::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_more_vert_white_24dp.png") !important;
  background-size: cover !important;
}
.moreActions__group button::before {
  border-color: #555 !important;
  background-color: #2a2a2a !important;
}
.commentForm__wrapper {
  border: none !important;
  background: #1a1a1a !important;
}
.commentForm__wrapper .commentForm__inputWrapper input {
  border-color: #555;
  background: #2a2a2a;
  color: #e0e0e0 !important;
}
.sound__soundActions {
  background: #1a1a1a !important;
}

.sc-tagContent {
  color: #e0e0e0 !important;
}

.listenEngagement {
  border: none !important;
}

.paging-eof:before {
  background: none !important;
}

.sc-classic .trackItem.active,
.sc-classic .trackItem.hover {
  background: #333 !important;
}
.sc-classic .trackItem.active .trackItem__additional,
.sc-classic .trackItem.hover .trackItem__additional {
  background: #333 !important;
}

.sc-ministats-sounds::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_equalizer_white_24dp.png") !important;
}
.sc-button-repost::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_autorenew_white_24dp.png") !important;
}
.sc-button-share::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_share_white_24dp.png") !important;
}
.sc-button-copylink::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_content_copy_white_24dp.png") !important;
}
.sc-button-queue::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_playlist_play_white_24dp.png") !important;
}

.soundActions .sc-button-group:nth-child(2) a {
  color: #e0e0e0 !important;
}

.compactTrackList__list li div {
  background: #121212 !important;
}
.compactTrackList__list li div span {
  color: #b3b3b3 !important;
}
.compactTrackList__list li .active {
  background: #121212 !important;
}
.compactTrackList__list li .active span {
  color: #e0e0e0 !important;
}
.compactTrackList__list li div:hover {
  background: #121212 !important;
}
.compactTrackList__list li div:hover span {
  color: #e0e0e0 !important;
}
.dropbar__content {
  background: #2a2a2a !important;
}
.dropbar__content .userDropbar__title {
  color: #e0e0e0 !important;
}
.sc-button-startstation::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_radio_white_24dp.png") !important;
}
.sc-button-message::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_email_white_24dp.png") !important;
}
.sc-button-addtoset::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_playlist_add_white_24dp.png") !important;
}
.sc-button-report::before {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/darkcloud/round_report_problem_white_24dp.png") !important;
}

.visualSound__wrapper {
  background: #1a1a1a !important;
}

.soundBadge__additional {
  background: rgba(255, 255, 255, 0) !important;
}

/* CSS For SCI Elements */
.playControls__themebtn {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/ctx-themes-%23fff.png") !important;
}
.playControls__pluginbtn {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/ctx-plugins-%23fff.png") !important;
}
.playControls__lyricbtn {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/round_mic_%23fff.png") !important;
}
.playControls__showcasebtn {
  background-image: url("https://raw.githubusercontent.com/AlirezaKJ/BetterSoundCloud/refs/heads/before0.6/lib/assets/baseline_smart_display_black_%23fff.png");
}

.addToPlaylistItem__content {
  background-color: #121212 !important;
}

.g-modal-section sc-clearfix sc-pt-3x {
  background-color: #2a2a2a !important;
}

.header__appclosebtn:hover {
  background-color: #121212 !important;
}
.header__appmaximizebtn:hover {
  background-color: #121212 !important;
}
.header__appminimizebtn:hover {
  background-color: #121212 !important;
}
/* Previous And Next Header Btn */
.header__appnextbtn {
  background-color: #1a1a1a !important;
}
.header__apppreviousbtn {
  background-color: #1a1a1a !important;
}

.commentItem__usernameLink {
  color: white !important;
}

.g-modal-section {
  background-color: #222 !important;
}

.tabs__tabs {
  background-color: #222 !important;
}

.commentForm__input {
  background-color: #222 !important;
}

.commentItem__body {
  color: white !important;
}

.commentItem__controls {
  color: white !important;
}
.commentItem__replyButton {
  color: white !important;
}
