* {
    border-color: #333 !important;
}
html,body {
    background: black !important;
}
#app {
    background-color: black !important;
    color: white !important;
}
#app > .l-container,
#app > header ,
#app > .playControls > section ,
#app > .playControls > section > .playControls__wrapper > .playControls__bg {
    background: #111 !important;
}
#app > header {
    border-bottom: solid 1px #333 !important
}
#app > .playControls > section,
#app > .playControls > section > .playControls__wrapper > .playControls__bg {
    border-top-color: #333 !important;
}

.header__logo {
    background: #111 !important;
}
.headerSearch__input {
    background: #222 !important;
    color: white !important;
    border: solid #999 1px !important;
}
.playControls__elements > .playControls__play {background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055861452013047839/round_play_arrow_white_24dp.png") !important;}
.playControls__elements > .playing { /* Pause Icon */ background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055861749460508692/round_pause_white_24dp.png") !important;}
.playControls__elements > .skipControl__previous {background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055862460642512976/round_skip_previous_white_24dp.png") !important;}
.playControls__elements > .skipControl__next {    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055862264776888432/round_skip_next_white_24dp.png") !important;}
/* .playControls__elements > .playControls__control > .shuffleControl > button  */
.playControls__elements .playControls__shuffle .shuffleControl::before { background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055865496148398170/round_shuffle_white_24dp.png") !important;}
.playControls__elements .playControls__shuffle .shuffleControl::after { background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055870043600212038/round_shuffle_orange_24dp.png") !important;}
.playControls__elements .playControls__repeat .repeatControl.m-none { background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055873064086282260/round_repeat_white_24dp.png") !important;}
.playControls__elements .playControls__repeat .repeatControl::before { background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055874200847515768/round_repeat_orange_24dp.png") !important;}
.playControls__elements .playControls__repeat .repeatControl::after {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055881399304982578/round_repeat_orange_loop_24dp.png") !important;
    background-size: contain;
}
.playControls__elements .playbackTimeline * {color: white !important;}
.volume[data-level="0"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884357421777027/round_volume_off_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="1"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884605611331584/round_volume_down_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="2"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884605611331584/round_volume_down_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="3"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884605611331584/round_volume_down_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="4"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884605611331584/round_volume_down_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="5"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884605611331584/round_volume_down_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="6"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884488170803220/round_volume_up_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="7"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884488170803220/round_volume_up_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="8"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884488170803220/round_volume_up_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="9"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884488170803220/round_volume_up_white_24dp.png") no-repeat 0 !important;}
.volume[data-level="10"] .volume__button {background: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884488170803220/round_volume_up_white_24dp.png") no-repeat 0 !important;}

.playbackSoundBadge .playbackSoundBadge__titleContextContainer .playbackSoundBadge__lightLink:hover {
    color: white !important;
}
.playbackSoundBadge .playbackSoundBadge__titleContextContainer .playbackSoundBadge__titleLink {
    color: #999 !important;
} 
.playbackSoundBadge .playbackSoundBadge__titleContextContainer .playbackSoundBadge__titleLink:hover {
    color: white !important;
}
.sc-link-dark {
    color: white !important;
}
.sc-truncate {
    color: #999;
}
.tileGallery__sliderButton {
    background: #222 !important;
    border-color: #999 !important;
}
.tileGallery__sliderButton::after {
    border-color: white !important;
}
.g-tabs-link {
    color: white !important;
}
.g-tabs-link.active {
    color: #f50 !important;
}
.sc-input {
    border-color: #999 !important;
    background-color: #333 !important;
    color: white !important;
}
.sc-button {
    border-color: #999 !important;
    background-color: #333 !important;
    color: white !important;
}
.userBadge__actions .sc-button-follow::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056510086761160704/round_person_add_alt_white_24dp.png") !important;
}
.userBadge__actions .sc-button-selected::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056515986041352274/round_how_to_reg_white_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__like::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884999271911594/round_favorite_white_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__like[title=Unlike]::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055885869430616135/round_favorite_orange_24dp.png") !important;    
}
.playbackSoundBadge__actions .playbackSoundBadge__follow::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056510086761160704/round_person_add_alt_white_24dp.png") !important;
}
.playbackSoundBadge__actions .playbackSoundBadge__follow[title=Unfollow]::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056534676572995614/round_how_to_reg_orange_24dp.png") !important;

}
.playbackSoundBadge__actions .playbackSoundBadge__showQueue svg {
    display: none;
}
.playbackSoundBadge__actions .playbackSoundBadge__showQueue {
    border-color: #999 !important;
    background-color: #333 !important;
    color: white !important;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056535567854215168/round_playlist_play_white_24dp.png") !important;
}
.playControls__queue .queue {
    background: #333 !important;
}
.playControls__queue .queue__scrollableInner {
    background: #333 !important;
}
.playControls__queue .queue__itemWrapper {
    background: #333 !important;
}
.playControls__queue .queueItemView {
    background: #333 !important;
}

.sc-button-group .sc-button-like::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055884999271911594/round_favorite_white_24dp.png") !important;
}
.sc-button-group .sc-button-like[title=Unlike]::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1055885869430616135/round_favorite_orange_24dp.png") !important;
}
.sc-button-group .sc-button-more::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056530430884597780/round_more_vert_white_24dp.png") !important;
    background-size: cover !important;
}
.moreActions__group button::before {
    border-color: #999 !important;
    background-color: #333 !important;
    /* background-color: rgba(255, 255, 255, 0.9) !important; */
}
.commentForm__wrapper {
    border: none !important;
    background: #111 !important;
}
.commentForm__wrapper .commentForm__inputWrapper input {
    border-color: #999;
    background: #333;
    color: white !important;
}
.sound__soundActions {
    background: #111 !important;
}

.sc-tagContent {
    color: white !important;
}

.listenEngagement {
    border: none !important;
}

.paging-eof:before {
    background: none !important;
}

.sc-classic .trackItem.active, .sc-classic .trackItem.hover {
    background: #444 !important;
}
.sc-classic .trackItem.active .trackItem__additional, .sc-classic .trackItem.hover .trackItem__additional {
    background: #444 !important;
}

.sc-ministats-sounds::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059715012144402442/round_equalizer_white_24dp.png") !important;
}
.sc-button-repost::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059717773208588298/round_autorenew_white_24dp.png") !important;
}
.sc-button-share::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059718467370102854/round_share_white_24dp.png") !important;
}
.sc-button-copylink::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059719070133534810/round_content_copy_white_24dp.png") !important;
}
.sc-button-queue::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1056535567854215168/round_playlist_play_white_24dp.png") !important;
}

.soundActions .sc-button-group:nth-child(2) a {
    color: white !important;
}


.compactTrackList__list li div {
    background: black !important;
}
.compactTrackList__list li div span {
    color: #999 !important;
}
.compactTrackList__list li .active {
    background: black !important;
}
.compactTrackList__list li .active span {
    color: white !important;
}
.compactTrackList__list li div:hover {
    background: black !important;
}
.compactTrackList__list li div:hover span {
    color: white !important;
}
.dropbar__content {
    background: #222 !important;
}
.dropbar__content .userDropbar__title {
    color: white !important;
}
.sc-button-startstation::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059728709856280656/round_radio_white_24dp.png") !important;
}
.sc-button-message::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059729090329976943/round_email_white_24dp.png") !important;
}
.sc-button-addtoset::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059730376114839612/round_playlist_add_white_24dp.png") !important;
}
.sc-button-report::before {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1059733494173024276/round_report_problem_white_24dp.png") !important;    
}

.visualSound__wrapper {
    background: #111 !important;   
}

.soundBadge__additional {background: rgba(255, 255, 255, 0) !important;}

/* CSS For SCI Elements */
.playControls__themebtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1070221791160717362/ctx-themes-fff.png") !important;
}
.playControls__pluginbtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1070221790971969546/ctx-plugins-fff.png") !important;
}
.playControls__showcasebtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1077507941919375382/baseline_smart_display_black_fff.png");
}

.header__appclosebtn:hover {
    background-color: black !important;
}
.header__appmaximizebtn:hover {
    background-color: black !important;
}
.header__appminimizebtn:hover {
    background-color: black !important;
}
/* Previous And Next Header Btn */
.header__appnextbtn {
    background-color: #111 !important;
}
.header__apppreviousbtn {
    background-color: #111 !important;
}