/* Full Width The Header And Audio Controls Bar */
header > .header__inner {
    width: 100% !important;
}
.playControls > section > .playControls__wrapper {width: 100% !important;}

/* Added Custom Theme And Plugins Btn To Audio Bar */
.playControls__themebtn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1070215836050149466/ctx-themes-333.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.playControls__pluginbtn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1070216593130397736/ctx-plugins-333.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.playControls__lyricbtn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("https://cdn.discordapp.com/attachments/1105298386275549234/1105341535572201513/round_mic_black_48dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.header__app__custombtns {
    cursor: pointer;
    display: block;
    height: 46px;
    width: 46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.header__app__custombtns:hover {background-color: #111;}
.header__appclosebtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1076820283702386719/baseline_close_white_24dp.png");
}
.header__appmaximizebtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1098225315572097126/baseline_fullscreen_exit_white_48dp.png");
}
.header__appmaximizebtn__alt {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1098224953398136853/baseline_fullscreen_white_48dp.png");
}
.header__appminimizebtn {
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1076820441718595594/baseline_minimize_white_48dp.png");
}
/* Previous And Next Header Btn */
.header__appnextbtn {
    background-color: black;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1076843682881347584/sharp_arrow_forward_ios_white_48dp.png");
}
.header__apppreviousbtn {
    background-color: black;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1076843798308597781/sharp_arrow_back_ios_white_48dp.png");
}
/* Hide All Promotion Banners */
.l-product-banners {display: none !important;}

/* Custom Scrollbar */
body::-webkit-scrollbar {position: fixed !important;width: 2px;}
body::-webkit-scrollbar-track {display: none;}
body::-webkit-scrollbar-corner {display: none;}
body::-webkit-scrollbar-thumb {background: #ff5500;}
body::-webkit-scrollbar-thumb:hover {background: #ff7700;}

/* SCI Showcase Plugin Styles */
.playControls__showcasebtn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("https://cdn.discordapp.com/attachments/1055860189619826793/1077507925364453397/baseline_smart_display_black_333.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    margin-right: 20px;
}